/***
* RHD Dev: Compiled at 12:54:14 PM on 10-03-2016
***/

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
.green {
  background-color: #51b47c;
  color: #fff;
}
.orange {
  background-color: #df5329;
  color: #fff;
}
.purple {
  background-color: #7a2f62;
  color: #fff;
}
.front-page #top-home .section-content .entry-content {
  width: 60%;
}
.front-page #top-home .top-logo {
  width: 60%;
  max-width: 23.75em;
}
.front-page #purple .projects-links .project {
  width: 47%;
  margin: 0 auto;
}
