/***
* RHD Dev: Compiled at 2:28:50 PM on 01-04-2016
***/

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
.green {
  background-color: #51b47c;
  color: #fff;
}
.orange {
  background-color: #df5329;
  color: #fff;
}
.purple {
  background-color: #7a2f62;
  color: #fff;
}
.purple a {
  color: #df5329;
}
.teal {
  background-color: #11b2b1;
  color: #fff;
}
.yellow {
  background-color: #fdb813;
}
.front-page #top-home .section-content .entry-content {
  width: 60%;
}
.front-page #top-home .top-logo {
  width: 60%;
  max-width: 23.75em;
}
.front-page #purple .projects-links .project {
  width: 47%;
  margin: 0 auto;
}
