@require "partials/_global.styl"


.front-page
	#top-home
		.section-content
			.entry-content
				width 60%

		.top-logo
			width 60%
			max-width 23.75em

	#purple
		.projects-links
			.project
				width 47%
				margin 0 auto